:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --basic-color: #ffffff;
  --text-color: #000000;
  --title-color: #212121;
  --text-color: #757575;
  --bg-color-dark: #2f303a;
  --bc-color-light: #f5f4fa;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  background-color: var(--basic-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__header {
  color: var(--accent-color);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo__footer {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.buttons {
  font-family: var(--main-font);
  background-color: var(--accent-color);
  color: var(--basic-color);
  display: block;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  border-radius: 4px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.hero .buttons:hover,
.hero .buttons:active {
  background-color: var(--accent-color);
  color: var(--basic-color);
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-icons {
  background-color: var(--basic-color);
  fill: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons:hover, .social-icons:focus {
  fill: var(--basic-color);
  background-color: var(--accent-color);
}

.footer-icons {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--basic-color);
  padding: 12px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icons:hover, .footer-icons:focus {
  fill: var(--basic-color);
  background-color: var(--accent-color);
}

.subtitle {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  margin-top: 0px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:focus, .modal-close-btn:hover {
  fill: var(--accent-color);
}

.modal-form {
  width: 270px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 480px) {
  .modal-form {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-form {
    width: 448px;
  }
}
.modal-form-head {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 12px;
}

.modal-form-field {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 14px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-form-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 15px;
  height: 18px;
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message {
  width: 270px;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-message::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 480px) {
  .modal-form-message {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-form-message {
    width: 448px;
  }
}
.modal-form-checkbox-label {
  display: flex;
  align-items: flex-start;
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 12px;
  line-height: 0.85;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 30px;
}
.modal-form-checkbox-label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 15px;
  border: 1px solid var(--text-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 9px;
  margin-bottom: 20px;
}
.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/iconcheck.svg);
  background-origin: border-box;
  border-color: var(--accent-colour);
}
.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  border: 1px solid var(--accent-color);
}

@media screen and (min-width: 768px) {
  .modal-form-checkbox-label {
    display: flex;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .modal-form-checkbox-label {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.71;
  }
}
.modal-form-label-link {
  color: var(--accent-color);
}

.modal-form-btn {
  font-family: var(--main-font);
  background-color: var(--accent-color);
  color: var(--basic-color);
  display: inline-block;
  align-items: center;
  align-self: center;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  padding: 10px 56px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.footer-form {
  display: block;
  justify-content: center;
  text-align: center;
  margin-top: 56px;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    text-align: left;
    margin: 0;
  }
}
.footer-form__head {
  color: var(--basic-color);
}

.footer-form__modal-form {
  display: block;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-form__modal-form {
    display: block;
    align-items: stretch;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__modal-form {
    display: flex;
    align-items: stretch;
  }
}
.footer-form__email-label {
  margin-right: 12px;
}

.footer-form__modal-input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  background: #2f303a;
  outline: none;
  color: #ffffff;
}
.footer-form__modal-input:focus {
  border-color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .footer-form__modal-input {
    display: block;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__modal-input {
    width: 358px;
  }
}
.footer-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  padding-left: 28px;
  padding-right: 28px;
}

.icon-send {
  margin-left: 10px;
  fill: var(--basic-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-hidden {
  display: none;
}

.header-container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header-container {
    justify-content: space-between;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.menu-contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu-contacts {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .menu-contacts {
    display: flex;
    margin-left: auto;
  }
}

.menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    margin-left: auto;
  }
}

.menu__item {
  position: relative;
  align-items: center;
}
.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  display: inline-block;
  padding-top: 33px;
  padding-bottom: 33px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: -1px;
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  color: var(--title-color);
}
.burger-btnicon:hover, .burger-btn:focus {
  color: var(--accent-color);
}

.burger-btn__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}
.mobile-menu {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--basic-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 500ms linear, visibiity 500ms linear;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  padding: 48px 40px;
}

.close-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}
.close-btn__icon {
  width: 40px;
  height: 40px;
}

.close-btn__icon {
  fill: var(--accent-color);
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  line-height: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--title-color);
}
.mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
  color: var(--accent-color);
}

.nav-list {
  margin-bottom: 64px;
}
@media screen and (min-width: 220px) {
  .nav-list {
    margin-bottom: 96px;
  }
}
.nav-list__item:not(:last-child) {
  margin-bottom: 32px;
}
.nav-list__link {
  font-size: 40px;
  color: var(--title-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.18;
  text-decoration: none;
}
.nav-list__link:hover, .nav-list__link:focus, .nav-list__link:active {
  color: var(--accent-color);
}

.current-mobile {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.modal-contact__tel-item {
  margin-bottom: 32px;
}

.modal-contact__tel-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.modal-contact__email-item {
  margin-bottom: 64px;
}

.modal-contact__email-link {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

@media screen and (min-width: 280px) {
  .modal-social {
    display: flex;
    position: relative;
  }
}
@media screen and (max-width: 280px) {
  .modal-social__item {
    margin-bottom: 10px;
  }
}
.modal-social__item:not(:last-child) {
  margin-right: 20px;
}
.modal-social__item:not(:last-child):after {
  content: "";
  position: absolute;
  top: 10px;
  width: 22px;
  height: 0px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.modal-social__link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
}
@media screen and (min-width: 440px) {
  .modal-social__link {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
.menu__contact-links {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__contact-links:hover, .menu__contact-links:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .menu__contacts-item:not(:last-child) {
    margin-right: 50px;
  }
}
.contacts-icon {
  fill: var(--text-color);
  margin-right: 10px;
}
.menu__contact-links:hover .contacts-icon, .menu__contact-links:focus .contacts-icon {
  fill: var(--accent-color);
}

.hero {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--primary-background-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/bg-main.jpg");
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/bg-main@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/bg-main.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/bg-main@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/bg-main.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/bg-main@2x.jpg");
  }
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--basic-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    max-width: 696px;
  }
}

@media screen and (max-width: 1200px) {
  .activity {
    display: none;
  }
}
.sub-img {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.sub-img__item {
  flex-basis: calc((100% - 60px) / 3);
}

.sub-img__wrapper {
  position: relative;
}

.sub-img__title {
  position: absolute;
  content: "";
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: var(--basic-color);
  transform: translateY(-100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .advantages {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;
  }
}
.advantages__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.advantages__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--bc-color-light);
  margin-bottom: 30px;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .advantages__icon {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__icon {
    width: 270px;
  }
}
.advantages__name {
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .advantages__name {
    text-align: left;
  }
}
.advantages__description {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.team {
  background-color: var(--bc-color-light);
}

.team__list {
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}

.team__item {
  background-color: var(--basic-color);
}

@media screen and (min-width: 480px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
    background-color: var(--basic-color);
    max-width: 354px;
  }
  .team__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
    background-color: var(--basic-color);
  }
}
.staff {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.staff__names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-top: 0px;
  margin-bottom: 10px;
}

.staff__position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 0px;
  margin-bottom: 0px;
  margin-bottom: 16px;
}

.social-item {
  display: flex;
  justify-content: center;
}

.social-links:not(:last-child) {
  margin-right: 10px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
  margin-left: -30px;
}

.clients-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 30px;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__item:hover {
  border-color: var(--accent-color);
}

.clients-list__icon {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__item:hover .clients-list__icon {
  fill: var(--accent-color);
}

.clients-list__link {
  display: flex;
  fill: #afb1b8;
  color: #afb1b8;
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    max-width: 170px;
  }
}
.footer {
  background-color: var(--bg-color-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: block;
  text-align: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer-adress {
    text-align: left;
  }
}
.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--basic-color);
}

.contact__footer {
  display: block;
  margin-top: 9px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__footer:hover, .contact__footer:focus {
  color: var(--accent-color);
}

.footer-social-links {
  display: block;
  color: var(--basic-color);
  margin-top: 57px;
}

@media screen and (min-width: 768px) {
  .footer-social-links {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social-links {
    text-align: left;
  }
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer-list-item {
  display: flex;
  justify-content: center;
}

.footer-links:not(:last-child) {
  margin-right: 10px;
}

.address-details {
  display: block;
}

.portfolio-current {
  color: var(--accent-color);
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    justify-content: center;
    margin-bottom: 35px;
  }
}

.filter__items {
  margin-right: 15px;
  margin-bottom: 8px;
}
.filter__items:last-child {
  margin-right: 0px;
}

.filter__buttoms {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--bc-color-light);
  cursor: pointer;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border-radius: 4px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__buttoms:hover, .filter__buttoms:focus, .filter__buttoms:active {
  background-color: var(--accent-color);
  color: var(--basic-color);
}

.filter__current {
  background-color: var(--accent-color);
  color: var(--basic-color);
}

.portfolio {
  display: block;
  margin-left: -30px;
}

.portfolio__item {
  margin-left: 30px;
  margin-top: 30px;
}
.portfolio__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__links:hover .portfolio__overlay,
.portfolio__links:focus .portfolio__overlay {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    display: flex;
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    display: flex;
    flex-basis: calc((100% - 90px) / 3);
  }
}
.portfolio__links {
  position: relative;
  display: flex;
  flex-direction: column;
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  color: var(--basic-color);
  overflow: auto;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  padding: 63px 24px;
}

.project {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  flex-grow: 1;
}

.project__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin: 0;
  margin-bottom: 4px;
}

.project__type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin: 0px;
}/*# sourceMappingURL=main.css.map */