.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__header {
  color: var(--accent-color);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo__footer {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-color);
}
