:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --basic-color: #ffffff;
  --text-color: #000000;
  --title-color: #212121;
  --text-color: #757575;
  --bg-color-dark: #2f303a;
  --bc-color-light: #f5f4fa;
}
